* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00b4d8;
    padding: 20px 150px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 30px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajusta según necesidad */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px; /* Espacio para separar la imagen del header */
}

.content img {
    width: 500px; /* Ajusta el tamaño según necesites */
    border-radius: 10px; /* Opcional, para bordes redondeados */
}

h2 {
    margin-top: 20px;
    font-size: 24px;
}

p {
    max-width: 600px;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

/* Estilos para las flechas */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.arrow {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}
